---
import Card from "../components/Card.astro";
---

<div>
  <Card href="/" title="Home" body="Home" />
  <Card href="/page1" title="Page 1" body="Throw a JS error on button" />
  <Card href="/page2" title="Page 2" body="Astro React Island" />
  <Card href="/page3" title="Page 3" body="Fetch request" />
  <Card href="/page4" title="Page 4" body="Links to page" />
</div>
